.container {
    position: fixed;
    right: 4rem;
    top: 25%;
    background: rgba(255, 255, 255, .8);
    padding: 1rem;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.title {
    font-size: 2rem;
}

.colorWrapper {
    display: flex;
    gap: .5rem;
}

.button {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    box-sizing: border-box;
}

.active {
    border: 2px solid #1CD6CE;
}